$icons-link-first-part: 'https://www.instagram.com/static/bundles/es6/sprite_glyphs_4e9d9587d7de.png/4e9d9587d7de.png'

$icons-link-second-part: 'https://www.instagram.com/static/bundles/es6/sprite_core_4f48d3d2062b.png/4f48d3d2062b.png'

$icons-link-third-part: 'https://www.instagram.com/static/bundles/es6/sprite_felix_4800bc114a3a.png/4800bc114a3a.png'

$tablet-breakpoint: 1000px

$container-width: 950px

$border-line: solid 1px $stroke-color

%border-style
  border-radius: 4px

%box-style
  border: $border-line
  @extend %border-style

@mixin customDot($lineCount: 3)
  overflow: hidden
  display: -webkit-inline-box
  -webkit-line-clamp: $lineCount
  -webkit-box-orient: vertical

$font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif


  